/devis.jasper
/ordre.jasper
/reception.jasper
/vente.jasper
/vente_periodique.jasper
/achat.jasper
/facture.jasper
/reparation.jasper
/tresor.jasper
/diagnostic.jasper
/achat_periodique.jasper
/bilan.jasper
/livraison.jasper
/commande.jasper
/compte.jasper
